<div class="px-4 py-3 mb-5 grey" id="projects">
  <div class="pb-2 d-flex border-bottom">
    <h2>Proyectos</h2>
  </div>
  <div class="container marketing mt-4 text-center">
    <!-- Proyectos -->
    <div class="row d-flex justify-content-md-around ">

      <div class="col-lg-3 bg-navy my-3">
        <img src="assets/star-wars.png" class="mt-4 rounded-circle" width="140" height="140" alt="..." role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
        <h2 class="fw-normal mt-1">Star Wars</h2>
        <p>Proyecto en Angular 13 consumiendo API</p>
        <p><a class="btn btn-green" target="_blank" href="https://github.com/eugedallasta/Sprint8-Angular-III.git">Ver repositorio »</a></p>
      </div>

      <div class="col-lg-3 bg-navy my-3">
        <img src="assets/spotify.webp" class="mt-4 rounded-circle" width="140" height="140" alt="..." role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
        <h2 class="fw-normal mt-1">Spotify</h2>
        <p>Proyecto en Angular 13 consumiendo API</p>
        <p><a class="btn btn-green" target="_blank" href="https://github.com/eugedallasta/Sprint8-Angular-III.git">Ver repositorio »</a></p>
      </div>

      <div class="col-lg-3 bg-navy my-3">
        <img src="assets/star-wars.png" class="mt-4 rounded-circle" width="140" height="140" alt="..." role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
        <h2 class="fw-normal mt-1">Star Wars</h2>
        <p>Proyecto en Angular 13 consumiendo API</p>
        <p><a class="btn btn-green" target="_blank" href="https://github.com/eugedallasta/Sprint8-Angular-III.git">Ver repositorio »</a></p>
      </div>

    </div><!-- /.row -->
  </div>
</div>







