.card{
  width:25rem;
  border: 0.2rem solid #69dec3;// Green
  background-color:  #797d89; // Slate or gray
}
.signin{
  background-color:#69dec3;// Green
}
.text{
  color: #69dec3;// Green
}
.small{
  color:#ccd6f6; // Lightest Slate
}
.loginGoogle{
  color: #69dec3;// Green
  border-color:#69dec3;// Green

}
.loginGitHub{
  color: #ccd6f6; // Lightest Slate
  border-color:#ccd6f6; // Lightest Slate
}
