.img-edu{
  width: auto;
  height: 3.5em;
}
.add{
  background-color: #0a192f; //Navy
  color: #69dec3;
}
.card{
  background-color:#112240; // Light Navy
  color:#e6f1ff; // White
}
.add{
  background-color:#0a192f; //Navy
  color: #69dec3;
}
.grey{
  background-color:#797d89;
}
