@use '@angular/material' as mat;

@include mat.core();

$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$portfolio-warn: mat.define-palette(mat.$red-palette);

$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

@include mat.all-component-themes($portfolio-theme);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
