.icon{
  color: #69dec3;
}
.icon:hover{
  transform: scale(1.2);
  color:#797d89; // Slate or gray
  border: 1px solid #797d89;
}
.add{
  background-color: #0a192f; //Navy
  color: #69dec3;
}
table{
  background-color:#112240; // Light Navy
}
.btn-dark{
  background-color:#0a192f; //Navy
}
.grey{
  background-color:#797d89;
}

// Modal
.modal-css{
  background-color: #797d89; //Navy
  color:#e6f1ff; // White
}
.green{
  background-color: #69dec3; //Navy
}
.button1{
  background-color: #0a192f; //Navy
  color: #69dec3;
}
.button2{
  background-color: #69dec3;
  color: #0a192f; //Navy
}

