.icon{
  color: #69dec3;

}
.icon:hover{
  transform: scale(1.2);
  color:#797d89; // Slate or gray
  border: 1px solid #797d89;
}
.add{
  background-color: #69dec3;
  color: aliceblue;
}

table{
  background-color:#112240; // Light Navy
}



